@import url(http://fonts.googleapis.com/css?family=Autour+One);
@import url(http://fonts.googleapis.com/css?family=Finger+Paint);
@import url(http://fonts.googleapis.com/css?family=Marcellus+SC);

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{font-size:100%;}

h1{
	font-size : 30pt;
	color : #E6A600;	
	font-family: 'Autour One', cursive;
	display:block;
	}
	
body {
background: url("../images/bg.png") repeat-x scroll 0 0;
font: 15px "trebuchet ms",helvetica,arial,sans-serif;
}


.search {
float: right;
}

.search .searchButton{
width: 88px;
height: 27px;
}

.addButton {
width: 88px;
height: 27px;
}
.likedislike{
clear:both;
}

#siteWrap {
width: 960px;
margin: 25px auto 0px auto;
}

#header{
height : 100px;
padding : 10px 10px 10px 10px;
}

#nav{
height : 40px;
}


#nav li{
float :left;
border-right:1px solid #eee;
}

#nav li a{
border:0;
padding : 7px 20px;
font-family: 'Marcellus SC', serif;
color: #FFF;
font-size : 15pt;
}


#adver{
frame border : 0;
}



#nav li:last-child{
border : 0;
}

#nav li a:hover,
#nav li a:focus{
border-radius : 6px;
-webkit-border-radius : 6px;
-khtml-border-radius : 6px;
-moz-border-radius:6px;

background-image : linear-gradient(-90deg,#FFCA73, #FFB740, #FF9F00);
background-image : -webkit-gradient(linear,left top, left bottom, from(#FFCA73), to(FF9F00));
background-image : -webkit-linear-gradient(-90deg,#FFCA73,FF9F00);
background-image : -moz-linear-gradient(-90deg,#FFCA73,FF9F00);
background-image : -o-linear-gradient(-90deg,#FFCA73,FF9F00);
background-image : -ms-linear-gradient(-90deg,#FFCA73,FF9F00);

box-shadow : 0px 0px 15px #FF9F00;
-webkit-box-shadow : 0px 0px 15px #FF9F00;
-moz-box-shadow : 0px 0px 15px #FF9F00;
}

#nav li a:active{
border-radius : 6px;
color : #FF9F00;
box-shadow : 0px 0px 15px #FF9F00;
}

#nav ul li a:selected {
background-color:#FF9F00;
}

.likedislike ul li{
}

.article{
float:left;
margin : 10px 2px;
}



#content{
margin : 10px 0 ;
height:658px;
background-color : #BFE4E3;
padding : 5px 5px 5px 5px;
}

#content_index{
margin : 10px 0 ;
height:1200px;
background-color : white;
padding : 5px 5px 5px 5px;
}
#photo{
clear:both;
float:left;
margin : 10px 10px 10px 10px;
}

#intro{
width:650px;
float:right;
margin:10px auto;
background:#BFE4E3;
}

#moving, #ad{
margin:15px auto;
text-align : center;
border : 0;
}


#footer {
background: #C8DBF4;
text-align : center;

height: 50px;
outline-color: black;
padding : 15px 15px;
margin:0px auto;
}

#like ul li{
list-style-type:disc;
}
#dislike ul li{

list-style-type:disc;
}

#like, #dislike{
padding : 10px 20px;
background : #BFE4E3;
}

#reg > * {
  margin: 15px 20px;
}
#reg{
background-color : #BFE4E3;
padding : 10px 5px;
margin 5px;

}




#reg h2 {
  border-bottom: 1px solid #ddd;
  font-family: 'Sansita One', cursive;
  text-shadow: 1px 1px #fff;
  -webkit-box-shadow: 0px 1px #ffffff;
  -moz-box-shadow: 0px 1px #ffffff;
  box-shadow: 0px 1px #ffffff;
}
#reg label {
  display: block;
}
#reg input:not([type=checkbox]) {
  width: 15em;
  border: 1px solid #cdcdcd;
  padding: 1em 0.5em 1em 2.5em;
  background: #f8f8f8 url(../images/u_icons_splite.png) no-repeat 0 4px;
  -webkit-box-shadow: inset 0px 0px 4px #dcdcdc;
  -moz-box-shadow: inset 0px 0px 4px #dcdcdc;
  box-shadow: inset 0px 0px 4px #dcdcdc;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
}

#accept {
  font-size: 11px;
}

#accept_terms {
  margin-left: -1px;
}
#accept a {
  color: #31a8d7;
}



